.reports {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.reports--title {
  font-size: 42px;
}

.reports--add-btn {
  height: 40px;
  color: #ffffff;
  background-color: #000000;
  cursor: pointer;
  font-size: 15px;
}

.reports--add-btn:hover {
  background-color: #4b4b4b;
}

.reports__list {
  margin: 20px;
}
