.back__button {
  height: 58px;
  width: 100px;
  margin: 20px 0 0 30px;
  background-color: #000000;
  color: #ffffff;
}

.form,
.form__container,
.form__container--radio {
  display: flex;
}

.form {
  justify-content: center;
  align-items: center;
}

.form__container {
  flex-direction: column;
  background-color: #000000;
  width: 542px;
  padding: 40px;
  margin-top: 80px;
}

.form__container--title {
  font-size: 64px;
  color: #ffffff;
}

.form__container--label {
  color: #ffffff;
  margin-top: 15px;
}

.form__container--input {
  height: 42px;
}

.form__container--btn {
  height: 42px;
  width: 100%;
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  font-size: 18px;
  margin-top: 20px;
}

.form__container--btn:hover {
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.form__container--label + .form__container--input {
  margin-top: 15px;
}

.form__container--section {
  margin-top: 15px;
}

.form__container--radio {
  margin-top: 15px;
  flex-direction: row;
}
